# Workflow to create a release when a new tag is created
# It will generate the release on GitHub and attach the zip archive

name: Release

on:
  push:
    tags:
      - '*'

jobs:

  build-archive:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install libglib2.0-bin
        run: |
          sudo /bin/sh -c "apt-get update && apt-get install libglib2.0-bin -y"

      - name: Compile schemas
        run: |
          glib-compile-schemas schemas

      - name: Build archive
        run: |
          zip -r x11gestures@joseexposito.github.io.zip COPYING COPYRIGHT extension.js prefs.js metadata.json src schemas

      - name: Upload archive artifact
        uses: "actions/upload-artifact@v4"
        with:
          name: "x11gestures@joseexposito.github.io.zip"
          path: "${{ github.workspace }}/x11gestures@joseexposito.github.io.zip"

  create-release:
    runs-on: ubuntu-latest
    needs: [ build-archive ]
    steps:
      - name: GitHub Environment Variables Action
        uses: FranzDiebold/github-env-vars-action@v1.2.1

      - name: Download packages
        uses: "actions/download-artifact@v2"
        with:
          path: ./

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.GITHUB_REF_NAME }}
          release_name: ${{ env.GITHUB_REF_NAME }}
          draft: true
          prerelease: false

      - name: Upload archive
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "x11gestures@joseexposito.github.io.zip/x11gestures@joseexposito.github.io.zip"
          asset_name: "x11gestures@joseexposito.github.io.zip"
          asset_content_type: application/zip
